@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #f0ffffde;
    background-color: #201b2c;
}

.container {
    padding: 20px;
}

form {
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    padding: 20px;
    color: #f0ffffde;
    margin-bottom: 20px;
}

h2 {
    color: #f80404;
    margin-bottom: 20px;
}

label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869; /* Cor roxa desejada */
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    height: 50px; /* Altura uniforme */
    transition: none; /* Remove transição ao focar */
}

input::placeholder,
select option {
    color: #ffffff;
}

input::placeholder {
    color: #000000; /* Branco */
}



.pesquisa-input:focus {
    background-color: #fff /* Mantém o fundo branco ao focar */  !important;
    color: #000; /* Mantém o texto preto ao focar */
    outline: none; /* Remove o contorno padrão do foco */
}



input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    background: #514869; /* Mantém a mesma cor ao focar */
    height: 50px; /* Altura uniforme */
}

.btn-primary, .btn-danger, .btn-warning, .btn-success {
    width: auto;
    padding: 4px 4px;
    font-size: 0.875rem; /* Reduzindo o tamanho da fonte */
    border: none;
    border-radius: 8px;
    text-transform: none;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}



.btn-primary {
    background: #007bff; /* Azul */
    color: #fff;
    text-transform: uppercase;
    padding: 8px 8px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul escuro */
    text-transform: uppercase;
    padding: 8px 8px;
}

.btn-danger {
    background: #f80404; /* Vermelho */
    color: #fff;
    padding: 8px 8px;
}

.btn-danger:hover {
    background-color: #c50000; /* Vermelho escuro */
    padding: 8px 8px;
}

.btn-warning {
    background: #f80404; /* Vermelho */
    color: #fff;
}

.btn-success {
    background: #28a745; /* Verde */
    color: #fff;
    text-transform: uppercase;
    padding: 8px 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #00000009;
    border: 1px solid #f80404;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhamento à esquerda */
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.521);
}

h3 {
    margin-top: 0;
    color: #f80404;
}

p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f0ffffde; /* Texto em branco */
}

button {
    background-color: #f80404;
    color: #fff;
    border: 1px solid #f80404;
    border-radius: 8px;
    padding: 3px;
    margin-top: 10px;
}

.navbar {
    padding: 8px 0;
    background-color: #000;
    border-bottom: 5px solid #ff0000;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav .nav-link {
    color: #f0ffffde;
    font-weight: 800;
}

.form-control:disabled {
    background-color: #514869;
    opacity: 1;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #514869;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #514869;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #ffffff;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: #514869;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

h2 {
    color: #f80404;
    margin-bottom: 40px;
    margin-top: 30px;
}

.titulo {
    font-size: 2rem; /* Tamanho igual ao h1 */
    text-align: center;
    margin-bottom: 20px; /* Ajuste se necessário */
}

h1 {
    margin-top: 20px; /* Margem superior */
}

.list-group {

    --bs-list-group-bg: #514869;
    --bs-list-group-border-color: #514869;
    --bs-list-group-color: #ffffff;
}

.modal-header {
    background-color: #514869;
}

.modal-body {
background-color: #2f2841;
}

.modal-footer {
    background-color: #2f2841;
}


/* Tornar os botões de "Editar" e "Excluir" com texto normal */
.btn-warning, .btn-danger {
    font-weight: normal; /* Remove o negrito */
}


/* Estilos para o botão "Cancelar Carrinho" */
.btn-cancelar {
    width: auto; /* ou defina um tamanho fixo, se preferir */
    padding: 5px 5px; /* Tamanho do padding */
    font-size: 0.875rem; /* Tamanho da fonte */
    border: 1px solid #f80404; /* Borda vermelha */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #ff0000; /* Cor de fundo branca */
    color: #ffffff; /* Cor do texto vermelha */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    text-transform: uppercase;
    font-weight: bold;
}

.btn-cancelar:hover {
    background-color: #f8040485; /* Fundo vermelho ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */
}

/* Estilo para os botões de "Editar" e "Excluir" */
.button-group button {
    font-weight: normal; /* Remove negrito */
}


#sugestoes_clientes {

    box-shadow: none; /* Remove qualquer box shadow */

}

#sugestoes_clientes li, #sugestoes_produtos_modal li, #sugestoes_clientes_modal li, #sugestoes li {
    box-shadow: none;
}

/* Estilos para o formulário de pesquisa */
#form-buscar-vendas {
    all: unset; /* Remove todos os estilos herdados */
    width: auto; /* Largura padrão */
    display: inline-block; /* Exibe como um bloco inline */
    margin-top: 20px; /* Margem superior */
}

.pesquisa-input {
    width: auto; /* Largura padrão */
    padding: 8px; /* Padding padrão */
    border: 1px solid #000; /* Borda padrão */
    border-radius: 8px; /* Bordas levemente arredondadas */
    background-color: #fff; /* Fundo branco */
    box-shadow: none; /* Remove qualquer sombra ao focar */
    color: #000; /* Texto preto */
}

.pesquisa-input::placeholder {
    color: #aaa; /* Cor do placeholder */
}

.btn-outline-danger {
    padding: 5px 10px; /* Padding do botão */
    border: 1px solid #f80404; /* Borda vermelha */
    background-color: #fff; /* Fundo branco */
    color: #f80404; /* Texto vermelho */
}

.btn-outline-danger:hover {
    background-color: #f80404; /* Fundo vermelho ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
}

.btn-outline-danger {
    padding: 5px 10px;
    border: 1px solid #f80404;
    background-color: #ffffff00;
    color: #f80404;
}

@media (max-width: 576px) {
    .pesquisa-input {
        width: 100%;
    }
}
