<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" class="left-image-login" alt="Menino">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <form id="loginForm">
                    <div class="textfield">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>
                <p class="register-link">Não tem uma conta? <a href="{{ url_for('registro') }}">Registre-se</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
